-- Q.1.

In [1]:
St = ["hello",'everyone','all','the','best']

dict1 = {i: len(i) for i in St}
dict1

{'hello': 5, 'everyone': 8, 'all': 3, 'the': 3, 'best': 4}

-- Q.2. Difference between Covariance and Correlation.
==>  Covariance shows the direction of data where correlation gives direction as well as strength of data.
==>  Covariance takes value from minus infinity to plus infinity, range of values for correlation is -1 to +1

Q.3 What is CLT?
==> Central limit theorem says that as the size of data/ sample increases it follows normal distribution.

Q.4. Two main differences between Set and Dictionary?
==> Set is unordered, whereas dictionary is ordered.
==> values inside set are stored like list, In dictionary it is in the form of Key:value pair.

Q.5. Difference Between linspace and arrange? example

In [27]:
import numpy as np
import random as random
x = np.random.randint(1,101,25)

Q.6. What is type1 error? 
==> Type 1 error is False Positives where actual result is negative yet model predicts it as positive.

Q.7. Function to find the outlier in the dataset? (Lower limit and upper limit)

In [3]:
def Out_iqr(data, columns):
    thres={}
    outliers = data.copy()

    for col in columns:
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3-Q1
        upper = Q3+1.5*IQR
        lower = Q1-1.5*IQR
        thres[col] = {'Lower': lower, 'Upper': upper}
        outliers = [(data[col]<lower and data[col]>upper)]
    return outliers, thres

Q.8. Statistical test to check if the data is normally distributed? (Name of the Tests)

==> Shapiro-Wilk test(for datapoints < 5000)
==> Jarque-Bera Test (for datapoints > 5000)

Q.9. List the assumptions of linear regression?

1.Independance of input features: Input features(columns) must not be dependent on each other.
2.No Multicollinearity: Independent features must not be highly correlated with each other.
3.Homoscedasticity: Residuals should be equally distributed and must not have any pattern at any instance about independant feature.
4.Normality of Errors: Residuals must be normally distributed.
5.

Q.10. What is Entropy and Information Gain?

Q.2. EDA and built RF using CV?

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv(r'C:\Users\kaush\OneDrive\Desktop\Imarticus PGA Data Science & Analytics\Machine Learning\Datasets\loan_data_set.csv')

In [7]:
df.shape

(614, 13)

In [8]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [9]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
df['Credit_History'].value_counts()

Credit_History
1.0    475
0.0     89
Name: count, dtype: int64

In [44]:
df['Loan_ID'].duplicated().value_counts()

Loan_ID
False    614
Name: count, dtype: int64